In [3]:
import pandas as pd

In [4]:
dataset = pd.read_csv('CSV/_2021-12-11 WCC F3-4 TRE-FUN 3-0_k.csv', delimiter = ';', header=None)
dataset

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,*P06>LUp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,...,5.0,18.0,6.0,12.0,10.0,6.0,7.0,1.0,16.0,NaN
1,*z6>LUp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,6,...,5.0,18.0,6.0,12.0,10.0,6.0,7.0,1.0,16.0,NaN
2,aP07>LUp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,6,...,5.0,18.0,6.0,12.0,10.0,6.0,7.0,1.0,16.0,NaN
3,az4>LUp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,6,...,5.0,18.0,6.0,12.0,10.0,6.0,7.0,1.0,16.0,NaN
4,*01SQ!~~~15~~~~R1,NaN,NaN,NaN,NaN,NaN,NaN,20.59.54,1,6,...,5.0,18.0,6.0,12.0,10.0,6.0,7.0,1.0,16.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,az4,NaN,NaN,NaN,NaN,NaN,NaN,22.06.30,3,6,...,5.0,18.0,6.0,1.0,12.0,16.0,7.0,20.0,6.0,NaN
1005,a01SQ=~~~11D~~~R1,s,NaN,NaN,NaN,NaN,NaN,22.06.52,3,6,...,5.0,18.0,6.0,1.0,12.0,16.0,7.0,20.0,6.0,NaN
1006,*$$&H#,s,NaN,NaN,NaN,NaN,NaN,22.06.52,3,6,...,5.0,18.0,6.0,1.0,12.0,16.0,7.0,20.0,6.0,NaN
1007,*p25:18,NaN,NaN,NaN,NaN,NaN,NaN,22.06.58,3,6,...,5.0,18.0,6.0,1.0,12.0,16.0,7.0,20.0,6.0,NaN
1008,**3set,NaN,NaN,NaN,NaN,NaN,NaN,22.06.58,4,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN